:root {
    --backgroundSize: 125px;
}

body {
    background-color: #22272F;
    margin: 5rem auto 5rem auto;
    width: 75%;
    max-width: 750px;
    background-image: url("background-repeating.png");
    background-size: var(--backgroundSize);
    animation: movingBackground 6s linear infinite;
    background-attachment: fixed;
}

@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}

h1,
h2,
h3,
p,
button,
.link-text {
    color: #ffffff;
    font-family: "Itim";
    font-weight: 400;
}

h1,
h2,
h3 {
    color: #FAE1DF;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 75px;
    margin: 5px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p,
.link-text {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #E4C3AD;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 15px 20px 15px 20px;
    border-radius: 100px;
    background-color: transparent;
    border-color: #ffffff;
    margin-top: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05) !important;
}


.accent {

    color: #E4C3AD;
}

.social-media-icon {
    color: #FAE1DF !important;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.social-media-icon:hover {
    transform: scale(1.25);
}


.svgbutton {
    vertical-align: text-bottom;
    margin-right: 5px;
    fill: white;
}

img {
    border-radius: 25%;
}

.image1 {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/**/

.column {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.actuallycollumn {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto 75px auto;
    margin-bottom: 10px;
    width: 75%;
    animation: popIn 1s ease;
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.social-media-row {
    display: flex;
    font-size: 28px;
    gap: 15px;
}

@media (max-width: 850px) {
    .logo {
        flex-direction: column-reverse;
    }

    body {
        width: 100%;
    }
}

.hidden {
    visibility: hidden;
    display:none;
}